 #first-name,
 #last-name,
 #email,
 #email2 {
     width: 50%;
 }

 #phone {
     width: 45%;
 }

 label {
     font-family: "Open Sans";
     font-size: 16px;
     font-weight: 400;
     line-height: 30px;
     color: #333333;
 }

 ::placeholder {
     font-family: "Open Sans";
     font-size: 16px;
     font-weight: 400;
     line-height: 30px;
     color: #333333;
 }

 h3 {
     color: #6255a5;
 }
