










.form-inline{
    float: right;
}
.form-control{
    border: 1px solid #d1d1d1;
}










#logo{
    border-right:1px solid #6255a5; 
        
}
.middle{
    margin-top: 35px;
    padding: 15px;
   
}
.middle1{
    margin-top: 35px;
    padding: 15px;
   
}
.middle p{
     font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
    margin-top: 5px;
}
.middle1 p{
     font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    line-height: 20px;
    margin-top: 5px;
}
.middle1 h2{
     font-family: "Open Sans";
    font-weight: 700;
    font-size: 30px;
    color: #6255a5;
    line-height: 20px;
    margin-top: 5px;
}


.stats{
     height: 150px;
    border: 1px solid #6255a5;
}
.box{
   
     height: 150px;
    width: 179px;
}
.box-s{
     border: 1px solid #6255a5;
     height: 150px;
    width: 160px;
}
.earn{
    border-right: 1px solid #6255a5;
      height: 150px;
    width: 179px;
}



.content-box-lg {
    padding: 50px 0;
}

#stats{
    margin-top: 20px;
}


.collapse{
    padding: 10px 0;
}
.nav-item{
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-light .navbar-nav .nav-link {
     color: #333333;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}


.nav-item:hover{
      color: #6255a5 ;
    background: none;
    border-bottom: 2px solid #6255a5;
}















#user-section h4 {
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
}

.navbar {
    padding: 10px 0 10px 0;
    background-color: white;
    padding-left: 90px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

a {
    color: #333333;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.nav > li > a:hover {
    color: #6255a5;
    background: none;
    border-bottom: 2px solid #6255a5;
}

/* dropdown css*/
.dropdown {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.dropdown-menu a {
    padding: 0px 5px;
    margin: 20px 0;
}

.dropdown-menu a:hover {
    background-color: #6255a5;
    color: white;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #6255a5;
    border-color: #6255a5;
    width: 89px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
}

/* dashboards*/
#dashboard {
    margin-top: 150px;
}

#heading {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 33px;
    color: #6255a5;
    line-height: 25px;
    position: absolute;

}

#addnote {
    float: right;
    width: 150px;
}

#t1 {
    margin-top: 100px;


}

#t1 #td1 p {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
    margin-top: 5px;
}

.title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
}

.description {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    line-height: 20px;
}

#right .title {
    margin-top: 50px;
}

#t1 td {
    height: 150px;
    width: 150px;
    border: 1px solid #6255a5;

}

.cell {
    height: 150px;
    width: 160px;
    border: 1px solid #6255a5;
    margin-left: 20px;
}

#right {
    display: flex;
    margin-top: 40px;
    margin-left: 20px;
    width: 600px;
    position: absolute;
    right: 45px;
    margin-top: 100px;
}

#table-container {
    /*display: flex;*/
    margin-top: 40px;
}

.progres {
   
    margin-top: 40px;
    border: 1px solid #d1d1d1;
    width: 1150px;
}

.progres tr {
    border: 1px solid #d1d1d1;
    height: 75px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;

    color: #8a8a8a;

}

.progres tr:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.progres th,
td {
    padding: 5px 10px;
}

.table-title p {
    position: absolute;
   
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
}

.table-title #search {
    float: right;
   
    margin-bottom: 10px;
}

.search-input {
    width: 322px;
    height: 35px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    color: #8a8a8a;
    padding: 5px 10px;

}

.search-btn {
    margin-bottom: 7px;
}

.pagination > li > a,
.pagination > li > span {
    border: 1px solid white;
    color: #6255a5;
}

.pagination > li > a:hover {
    background: #6255a5;
    color: #fff;
    border-radius: 50%;
}

/*MOBILE MENU CSS*/






footer {
    padding: 40px 0;
}

footer p span {
    float: right;
}

footer p span .fa {
    border-radius: 15px;
    border-color: #6255a5;
    color: #fff;
    border: 1px solid #6255a5;
    background-color: #6255a5;
    height: 18px;
}

footer p span i {
    padding: 0 10px 0 10px;
    margin-left: 10px;
}
