.content-box-lg {
    padding: 50px 0;
}



#user-section h4 {
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
}

.navbar {
    padding: 10px 0 10px 0;
    background-color: white;
    padding-left:  90px;
   box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
}

a {
    color: #333333;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.nav > li > a:hover{
    color: #6255a5;
    background: none;
    border-bottom: 2px solid #6255a5;
}
/* dropdown css*/
.dropdown{
     position: relative;
    display: block;
    padding: 10px 15px;
}
.dropdown-menu a {
  padding: 0px 5px;
   margin: 20px 0;
}
.dropdown-menu a:hover{
    background-color: #6255a5;
    color: white;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #6255a5;
    border-color: #6255a5;
    width: 89px;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
}

#progress-notes{
    margin-top: 80px;
}

#heading{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 33px;
    color: #6255a5;
    line-height: 25px;
    position: absolute;
}
#addnote{
    float: right;
    width: 150px;
}
#t1{
    margin-top: 40px;
    
    
}
#t1 #td1 p{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
    margin-top: 5px;
}
.title{
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
}
.description{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    line-height: 20px;
}
#table-container{
    display: flex;
    margin-top: 40px;
}
.progres{
   
    margin-top: 40px;
    border: 1px solid #d1d1d1;
    width: 1150px;
}
.progres tr{
     border: 1px solid #d1d1d1;
    height: 75px;
       font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    
    color: #8a8a8a;
    
}
.progres tr:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}
.progres th,td{
    padding: 5px 10px;
}
.table-title p{
    position: absolute;
   
     font-family: "Open Sans";
    font-weight: 600;
    font-size: 24px;
    color: #6255a5;
    line-height: 20px;
}
.table-title #search{
    float: right;
   
    margin-bottom: 10px;
}
.search-input{
    width: 322px;
     height: 35px;
      font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    color: #8a8a8a;
    padding: 5px 10px;
  
}
.search-btn{
   margin-bottom: 7px;
}
.dots{
    margin-left: 10px;
}
.pagination > li > a, .pagination > li > span{
    border: 1px solid white;
    color: #6255a5;
}
.pagination > li > a:hover{
    background: #6255a5;
    color: #fff;
    border-radius: 50%;
}


footer{
    padding: 40px 0;
    border-top: 1px solid #d1d1d1;
}
footer p span {
    float: right;

}

footer p span .fa {
   
    border-color: #6255a5;
    color: #fff;

    border: 1px solid #6255a5;
    background-color: #6255a5;
  
}

footer p span i {
    padding: 0 10px 0 10px;
     border-radius: 50%;
    margin-left: 5px;
    height: 100%;
    
}
